<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>back</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	  <context-param>
	    <param-name>env</param-name>
	    <param-value>/WEB-INF/classes.prop</param-value>
	  </context-param>
	 <servlet>
    <description></description>
    <display-name>ShowApDocsAllServlet</display-name>
    <servlet-name>ShowApDocsAllServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowApDocsAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApDocsAllServlet</servlet-name>
    <url-pattern>/showapdocsall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowApDocsStatusServlet</display-name>
    <servlet-name>ShowApDocsStatusServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowApDocsStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApDocsStatusServlet</servlet-name>
    <url-pattern>/showapdocsstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSideBarCntAllServlet</display-name>
    <servlet-name>ShowSideBarCntAllServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowSideBarCntAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSideBarCntAllServlet</servlet-name>
    <url-pattern>/sidebarcntall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowApDocsDetailServlet</display-name>
    <servlet-name>ShowApDocsDetailServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowApDocsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApDocsDetailServlet</servlet-name>
    <url-pattern>/showdocsdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserApDocsDetailServlet</display-name>
    <servlet-name>CheckUserApDocsDetailServlet</servlet-name>
    <servlet-class>com.group.approval.control.CheckUserApDocsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserApDocsDetailServlet</servlet-name>
    <url-pattern>/checkuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserSearchDocsServlet</display-name>
    <servlet-name>ShowUserSearchDocsServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowUserSearchDocsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserSearchDocsServlet</servlet-name>
    <url-pattern>/usersearchdocs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllPickStatusServlet</display-name>
    <servlet-name>SelectAllPickStatusServlet</servlet-name>
    <servlet-class>com.group.approval.control.SelectAllPickStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllPickStatusServlet</servlet-name>
    <url-pattern>/selectallpick</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectWaitPickStatusServlet</display-name>
    <servlet-name>SelectWaitPickStatusServlet</servlet-name>
    <servlet-class>com.group.approval.control.SelectWaitPickStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectWaitPickStatusServlet</servlet-name>
    <url-pattern>/selectwaitpick</url-pattern>
  </servlet-mapping>


    <servlet>
    <description></description>
    <display-name>SelectByCommentsServlet</display-name>
    <servlet-name>SelectByCommentsServlet</servlet-name>
    <servlet-class>com.group.approval.control.SelectByCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByCommentsServlet</servlet-name>
    <url-pattern>/selectbycomments</url-pattern>
  </servlet-mapping>
</web-app>