<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>back</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>env</param-name>
    <param-value>/WEB-INF/classes.prop</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ShowApDocsAllServlet</display-name>
    <servlet-name>ShowApDocsAllServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowApDocsAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApDocsAllServlet</servlet-name>
    <url-pattern>/showapdocsall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowApDocsStatusServlet</display-name>
    <servlet-name>ShowApDocsStatusServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowApDocsStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApDocsStatusServlet</servlet-name>
    <url-pattern>/showapdocsstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSideBarCntAll</display-name>
    <servlet-name>ShowSideBarCntAll</servlet-name>
    <servlet-class>com.group.approval.control.ShowSideBarCntAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSideBarCntAll</servlet-name>
    <url-pattern>/sidebarcntall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowApDocsDetail</display-name>
    <servlet-name>ShowApDocsDetail</servlet-name>
    <servlet-class>com.group.approval.control.ShowApDocsDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApDocsDetail</servlet-name>
    <url-pattern>/showdocsdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserApDocsDetail</display-name>
    <servlet-name>CheckUserApDocsDetail</servlet-name>
    <servlet-class>com.group.approval.control.CheckUserApDocsDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserApDocsDetail</servlet-name>
    <url-pattern>/checkuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserSearchDocs</display-name>
    <servlet-name>ShowUserSearchDocs</servlet-name>
    <servlet-class>com.group.approval.control.ShowUserSearchDocs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserSearchDocs</servlet-name>
    <url-pattern>/usersearchdocs</url-pattern>
  </servlet-mapping>
</web-app>