<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>back</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>env</param-name>
    <param-value>/WEB-INF/classes.prop</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>AddApprovalDocsServlet</display-name>
    <servlet-name>AddApprovalDocsServlet</servlet-name>
    <servlet-class>com.group.approval.control.AddApprovalDocsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApprovalDocsServlet</servlet-name>
    <url-pattern>/addapprovaldocs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchApprovalStaffServlet</display-name>
    <servlet-name>SearchApprovalStaffServlet</servlet-name>
    <servlet-class>com.group.approval.control.SearchApprovalStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchApprovalStaffServlet</servlet-name>
    <url-pattern>/searchapprovalstaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.group.main.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMainPageApServlet</display-name>
    <servlet-name>ShowMainPageApServlet</servlet-name>
    <servlet-class>com.group.main.control.ShowMainPageApServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMainPageApServlet</servlet-name>
    <url-pattern>/showmainpageap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMainPageBdServlet</display-name>
    <servlet-name>ShowMainPageBdServlet</servlet-name>
    <servlet-class>com.group.main.control.ShowMainPageBdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMainPageBdServlet</servlet-name>
    <url-pattern>/showmainpagebd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMainPageLeaveServlet</display-name>
    <servlet-name>ShowMainPageLeaveServlet</servlet-name>
    <servlet-class>com.group.main.control.ShowMainPageLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMainPageLeaveServlet</servlet-name>
    <url-pattern>/showmainpageleave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMainPageSkdServlet</display-name>
    <servlet-name>ShowMainPageSkdServlet</servlet-name>
    <servlet-class>com.group.main.control.ShowMainPageSkdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMainPageSkdServlet</servlet-name>
    <url-pattern>/showmainpageskd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMainPageProfileServlet</display-name>
    <servlet-name>ShowMainPageProfileServlet</servlet-name>
    <servlet-class>com.group.main.control.ShowMainPageProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMainPageProfileServlet</servlet-name>
    <url-pattern>/showmainpageprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDepartmentServlet</display-name>
    <servlet-name>ShowDepartmentServlet</servlet-name>
    <servlet-class>com.group.employee.control.ShowDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDepartmentServlet</servlet-name>
    <url-pattern>/showdept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDeptEmpServlet</display-name>
    <servlet-name>ShowDeptEmpServlet</servlet-name>
    <servlet-class>com.group.employee.control.ShowDeptEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDeptEmpServlet</servlet-name>
    <url-pattern>/showdeptemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllEmployeeServlet</display-name>
    <servlet-name>ShowAllEmployeeServlet</servlet-name>
    <servlet-class>com.group.employee.control.ShowAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllEmployeeServlet</servlet-name>
    <url-pattern>/showallemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmpDetailServlet</display-name>
    <servlet-name>ShowEmpDetailServlet</servlet-name>
    <servlet-class>com.group.employee.control.ShowEmpDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmpDetailServlet</servlet-name>
    <url-pattern>/showempdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmpServlet</display-name>
    <servlet-name>SearchEmpServlet</servlet-name>
    <servlet-class>com.group.employee.control.SearchEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmpServlet</servlet-name>
    <url-pattern>/searchemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyProfileServlet</display-name>
    <servlet-name>ShowMyProfileServlet</servlet-name>
    <servlet-class>com.group.mypage.control.ShowMyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyProfileServlet</servlet-name>
    <url-pattern>/showmyprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMyPhoneNumServlet</display-name>
    <servlet-name>ChangeMyPhoneNumServlet</servlet-name>
    <servlet-class>com.group.mypage.control.ChangeMyPhoneNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMyPhoneNumServlet</servlet-name>
    <url-pattern>/changemyphonenum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMyPwdServlet</display-name>
    <servlet-name>ChangeMyPwdServlet</servlet-name>
    <servlet-class>com.group.mypage.control.ChangeMyPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMyPwdServlet</servlet-name>
    <url-pattern>/changemypwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBoardPageServlet</display-name>
    <servlet-name>ShowBoardPageServlet</servlet-name>
    <servlet-class>com.group.board.control.ShowBoardPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBoardPageServlet</servlet-name>
    <url-pattern>/showbdpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBoardDetailServlet</display-name>
    <servlet-name>ShowBoardDetailServlet</servlet-name>
    <servlet-class>com.group.board.control.ShowBoardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBoardDetailServlet</servlet-name>
    <url-pattern>/showbddetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBoardCommentServlet</display-name>
    <servlet-name>ShowBoardCommentServlet</servlet-name>
    <servlet-class>com.group.board.control.ShowBoardCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBoardCommentServlet</servlet-name>
    <url-pattern>/showboardcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBoardCommentServlet</display-name>
    <servlet-name>AddBoardCommentServlet</servlet-name>
    <servlet-class>com.group.board.control.AddBoardCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBoardCommentServlet</servlet-name>
    <url-pattern>/addboardcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBoardCommentServlet</display-name>
    <servlet-name>RemoveBoardCommentServlet</servlet-name>
    <servlet-class>com.group.board.control.RemoveBoardCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBoardCommentServlet</servlet-name>
    <url-pattern>/removeboardcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeBoardDetailServlet</display-name>
    <servlet-name>ChangeBoardDetailServlet</servlet-name>
    <servlet-class>com.group.board.control.ChangeBoardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeBoardDetailServlet</servlet-name>
    <url-pattern>/changeboarddetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBoardServlet</display-name>
    <servlet-name>AddBoardServlet</servlet-name>
    <servlet-class>com.group.board.control.AddBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBoardServlet</servlet-name>
    <url-pattern>/addboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBoardServlet</display-name>
    <servlet-name>SearchBoardServlet</servlet-name>
    <servlet-class>com.group.board.control.SearchBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBoardServlet</servlet-name>
    <url-pattern>/searchboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBoardServlet</display-name>
    <servlet-name>RemoveBoardServlet</servlet-name>
    <servlet-class>com.group.board.control.RemoveBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBoardServlet</servlet-name>
    <url-pattern>/removeboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSkdDetailServlet</display-name>
    <servlet-name>ShowSkdDetailServlet</servlet-name>
    <servlet-class>com.group.calendar.control.ShowSkdDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSkdDetailServlet</servlet-name>
    <url-pattern>/showskddetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPageGroupServlet</display-name>
    <servlet-name>ShowPageGroupServlet</servlet-name>
    <servlet-class>com.group.board.control.ShowPageGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPageGroupServlet</servlet-name>
    <url-pattern>/showpagegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTotalPageServlet</display-name>
    <servlet-name>ShowTotalPageServlet</servlet-name>
    <servlet-class>com.group.board.control.ShowTotalPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTotalPageServlet</servlet-name>
    <url-pattern>/showtotalpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowApLineStaffListServlet</display-name>
    <servlet-name>ShowApLineStaffListServlet</servlet-name>
    <servlet-class>com.group.approval.control.ShowApLineStaffListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApLineStaffListServlet</servlet-name>
    <url-pattern>/showaplinestafflist</url-pattern>
  </servlet-mapping>
</web-app>