/build/

/bin/

.DS_Store

*.temp

.classpath

.project

testMain.java

/.metadata/

context.xml

/.settings/

/lib/

/.tern-project
Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
*.index
*.index
*.prefs
*.policy
*.class
*.index
*.woff2
*.woff
.metadata/.plugins/org.eclipse.core.resources/.projects/back/.markers
*.ttf
