.count {
  display: inline-block;
  height: 14px;
  line-height: 16px;
  padding-left: 3px;
  padding-right: 3px;
  color: rgb(81, 80, 82);
  font-size: 12px;
  font-weight: 700;
  background: #ffffff;
  border-radius: 16px;
}
